.modalOverlay {
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.newTaskContainer {
    width: 60rem;
    height: 35rem;
    padding: 1rem;

    background-color: white;
    border-radius: 0.25rem;

    z-index: 1001;

    display: flex;
    flex-direction: column;
}