:root {
    --graph-width: 45rem; /* Change this for responsiveness */
    --graph-height: 20rem; /* Change this for responsiveness */

    --graph-xAxisRange: 14;
    --graph-yAxisRange: 10;

    --graph-xAxisPartition-width: calc(var(--graph-width) / var(--graph-xAxisRange));
    --graph-yAxisPartition-height: calc(var(--graph-height) / var(--graph-yAxisRange));
}

.mainContainer {
    height: 100%;
    width: 50%;

    border: 1px solid rgba(128, 128, 128, 0.301);
    border-radius: 0.25rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    height: 10%;

    border-bottom: 1px solid rgba(128, 128, 128, 0.301);
}

.header h2 {
    margin-left: 0.5rem;

    font-weight: 500;
}

.graphContainer {
    padding: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.xAxis {
    width: var(--graph-width);
    height: 1rem;

    border-left: 2px solid grey;

    display: grid;
    grid-template-columns: repeat(var(--graph-xAxisRange), var(--graph-xAxisPartition-width));
}

.xAxisTickBox {
    display: flex;
    justify-content: end;
    align-items: start;
}

.xAxisTickBox > div {
    width: 2px;
    height: 50%;

    background-color: grey;
}

.xAxisTickBox:last-child > div {
    height: 100%;
    position: relative;
    right: 2px;
}

.test {
    position: absolute;
}

.test > p {
    font-size: 0.8rem;
    position: relative;
    bottom: 0.6rem;
    right: 1.1rem;
}

.yAxis {
    width: 1rem;
    height: var(--graph-height);

    border-top: 2px solid grey;

    display: grid;
    grid-template-rows: repeat(var(--graph-yAxisRange), var(--graph-yAxisPartition-height));

    position: relative;
    bottom: 0.5rem;
}

.yAxisTickBox {
    display: flex;
    justify-content: end;
    align-items: end;
}

.yAxisTickBox > div {
    width: 50%;
    height: 2px;

    background-color: grey;
}

.yAxisTickBox > div > p {
    font-size: 0.8rem;

    position: relative;
    bottom: 0.5rem;
    right: 1rem;
}

.yAxisTickBox:last-child > div {
    width: 100%;
    position: relative;
    bottom: 2px;
}

.graph {
    width: var(--graph-width);
    height: var(--graph-height);

    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
}

.bars {
    height: 100%;

    display: grid;
    grid-template-columns: repeat(var(--graph-xAxisRange), 1fr);
}

.barContainer {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: end;
}

.bar {
    width: 33%;

    background-color: rgb(37, 77, 207);
}

.bar2 {
    width: 33%;

    background-color: rgb(14, 148, 59);
}
