.loginCard {
    width: 27rem;
    height: 27rem;
    padding: 1.5rem 0.75rem;
    box-sizing: border-box;

    background-color: white;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;

    background: linear-gradient(-45deg, #012622, #2f4064, #012622, #52a765);
    background-size: 400% 400%;
    animation: gradient 45s linear infinite;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo > b {
    margin: 0px;

    color: white;
    font-size: 1.7rem;
}

.loginHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginHeader > b {
    font-size: 1.5rem;
}

.loginHeader > p {
    margin-top: 0.2rem;

    font-size: 0.8rem;
}

.submitButton {
    width: 80%;
    height: 2rem;
    margin-top: 1rem;
    background: linear-gradient(-45deg, #012622, #2f4064, #012622, #52a765);
    background-size: 400% 400%;
    animation: gradient 45s linear infinite;
    color: white;
    font-size: 1rem;
    font-family: "poppins", "sans-serif";
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: all ease-out 0.2s;
}

.submitButton:hover {
    transform: translateY(-1px);
}

.submitButton:active {
    transform: translateY(1px);
}

.formCluster {
    width: 80%;
    height: 2.8rem;
    margin-bottom: 1rem;

    border-bottom: 2px solid rgb(114, 114, 134);

    display: inline-block;
}

.formCluster > p {
    margin: 0px;

    font-size: 0.8rem;
    transition: all ease-out 0.2s;

    position: relative;
    top: -0.4rem;
    z-index: 0;
}

.formCluster > input {
    width: 90%;

    background-color: rgb(0, 0, 0, 0);
    font-size: 0.9rem;
    outline: none;
    border: none;

    position: relative;
    top: 1.2rem;
    right: 1px;

    z-index: 1000;
}

.formCluster > input::placeholder {
    color: rgb(0, 0, 0, 0);
}

.formInput:focus + .formLabel {
    color: #319747;
}

.formInput:not(:placeholder-shown) + .formLabel,
.formInput:focus + .formLabel {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
}

.formLabel {
    position: relative;
    right: 1px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
