.seperatorVWrapper {
    padding: 1rem 0rem;
}

.seperatorV {
    width: 1px;
    height: 100%;

    background-color: var(--secondary-color);
}

.seperatorHWrapper {
    padding: 1rem 0rem;
}

.seperatorH {
    width: 100%;
    height: 2px;
    padding: 0rem 1rem;

    background-color: var(--secondary-color);
}
