.modalOverlay {
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.detailContainer {
    width: 50rem;
    height: 30rem;
    padding: 1rem;

    background-color: white;
    border-radius: 0.25rem;

    z-index: 1001;

    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
}

.priority {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;

    background-color: darkorange;
    color: white;
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.headerInfo {
    width: calc(75% - 4rem);
}

.headerInfo span {
    display: flex;
    align-items: center;
}

.headerInfo h2 {
    font-weight: 500;
}

.headerInfo h3 {
    font-weight: 400;
}

.headerInfo p {
    color: grey;
    font-size: 0.8rem;
}

.headerTools {
    width: 25%;

    display: flex;
    justify-content: end;
}

.headerTools button {
    padding: 0.5rem 0.5rem;
    margin-left: 0.5rem;

    background-color: darkorange;
    color: white;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    font-family: "poppins";
    cursor: pointer;
}

.seperatorH {
    width: 100%;
    height: 1px;
    margin: 0.5rem 0rem;

    background-color: rgb(216, 216, 216);
}

.seperatorV {
    width: 1px;
    height: 2rem;
    margin: 0 0.5rem;

    background-color: rgb(216, 216, 216);
}

.bodyHeader {
    margin-bottom: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clientInfo {
    height: 2.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clientInfo > p:nth-child(2) {
    color: grey;
    font-size: 0.8rem;
}

.taskState {
    width: 10rem;
    height: 2rem;

    background-color: darkorange;
    color: white;
    border-radius: 0.25rem;
    font-size: 0.8rem;

    display: flex;
    align-items: center;
}

.taskState > div:nth-child(1) {
    width: 80%;
    height: 100%;
    padding-left: 0.5rem;

    border-radius: 0.25rem 0 0 0.25rem;

    display: flex;
    justify-content: start;
    align-items: center;
}

.taskState > div:nth-child(2) {
    width: 20%;
    height: 100%;

    background-color: darkorange;
    border-left: 1px solid white;
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dropDown {
    position: relative;
}

.dropDownContent {
    height: 8rem;
    width: 10rem;

    background-color: white;
    color: black;
    border-radius: 0.25rem;
    user-select: none;
    outline: 1px solid rgb(216, 216, 216);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    top: 1.25rem;
    right: 20%;
}

.dropDownContent > span {
    height: 2rem;
    padding: 0rem 0.5rem;

    cursor: pointer;

    display: flex;
    align-items: center;
}

.dropDownContent > span:not(:nth-child(4)) {
    border-bottom: 1px solid rgb(216, 216, 216);
}

.dropDownContent > span:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.taskDescription {
    width: 100%;
    height: 11rem;
}

.toolbar {
    width: 100%;
    height: 2rem;
    padding: 0.25rem;

    border-bottom: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar span {
    padding: 0rem 0.5rem;

    background-color: white;
    border-radius: 0.15rem;
    border: none;
    outline: none;
    font-size: 0.8rem;
    cursor: pointer;
    user-select: none;
}

.toolbar > p {
    color: white;
    font-size: 0.9rem;
}

.taskDescription .toolbar {
    background-color: rgb(20, 20, 20);
    border-radius: 0.25rem 0.25rem 0 0;
}

.descriptionTextarea {
    width: 100%;
    height: 9rem;
    padding: 0.5rem;

    border: 1px solid rgb(216, 216, 216);
    outline: none;
    resize: none;
    font-family: "poppins";
}

.taskNotes {
    position: relative;
}

.taskNotes .toolbar {
    background-color: rgb(61, 61, 61);
}

.noteListing {
    height: 7.5rem;
    padding: 0.5rem;

    border-radius: 0 0 0.25rem 0.25rem;
    border: 1px solid rgb(216, 216, 216);
    border-top: none;
    overflow: auto;
}

.newNoteBox {
    width: 15rem;
    height: 10rem;
    padding: 0.25rem 0.5rem;

    background-color: rgb(20, 20, 20);
    border-radius: 0.25rem;

    position: absolute;
    bottom: calc(100% - 10rem);
    left: calc(100% + 1.5rem);
}

.newNoteBox > span {
    height: 2rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newNoteBox p {
    color: white;
    font-size: 0.8rem;
}

.newNoteBox button {
    margin-bottom: 0.25rem;
    padding: 0 0.25rem;

    border-radius: 0.25rem;
    outline: none;
    border: none;
    font-family: "poppins";
    font-size: 0.8rem;
    cursor: pointer;
}

.newNoteTextarea {
    width: 100%;
    height: calc(100% - 2.2rem);
    padding: 0.25rem;

    resize: none;
    border-radius: 0.25rem;
    border: 1px solid rgb(216, 216, 216);
    outline: none;
    font-family: "poppins";
}



