.postCard {
    width: 60%;
    margin-bottom: 1rem;
    padding: 0.3rem 1rem 1rem 1rem;

    background-color: white;
    box-shadow: 2px 2px 5px 1px rgb(238, 238, 238);
    border-radius: 0.5rem;
}

.header {
    width: 100%;
    display: flex;
}

.headerText {
    width: 50%;
}

.headerTools {
    width: 50%;
    padding: 0.1rem 0.5rem;

    display: flex;
    justify-content: end;
}

.tool {
    height: 1rem;
    margin-left: 0.5rem;

    font-size: 0.9rem;
    line-height: 1rem;
    text-align: center;
    cursor: pointer;
}

.headerText h3 {
    font-weight: 400;
}

.headerText p {
    font-size: 0.7rem;
}

.tags {
    width: 100%;
}

.content {
    width: 100%;
}

.separatorH {
    width: 100%;
    height: 1px;

    background-color: rgb(230, 230, 230);
}

.textarea {
    width: 100%;
    height: fit-content;
    padding: 0.5rem 0.5rem 0.5rem 0rem;

    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;

    resize: none;
}

.textarea::-webkit-scrollbar,
.newTextarea::-webkit-scrollbar {
    display: none;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}
